.footer-header{
    text-transform: uppercase;
    font-weight: 700;   
    font-family: @font;   
    text-align: center; 
    margin-top: 80px; 
    margin-bottom: 40px;
    font-size: 14pt; 
}
.footer__icons{
    background: @btn-color;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.footer__logo{
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer__text-logo{
    text-transform: uppercase;
    font-family: @font;
    font-size: 11pt;
    color: #000;
    margin-right: 10px;
}

@media (min-width: 1224px){
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 60px 45px 20px 45px;

    }
    .footer-header{
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer__logo{
        margin-top: 0;
    }
}