@import url("variables.less");
@import url("logo.less");
@import url("icon.less");
@import url("bg.less");
.header{
    &__navigation{
        margin-left: 0;
        padding-left: 0; 
        margin-top: 0; 
        margin-bottom: 10px;
        list-style-type: disc;
        &-li{
            background-color: @btn-color;
            text-align: center;  
            list-style-type: none;
            width: 100%;
            line-height: 60px;
            border-bottom: 1px solid #678fa8;
            height: 60px;
            
        }
        &-a{
            font-family: @font;
            text-transform: uppercase;
            font-size: 14pt;
            text-decoration: none;
            color: #fff;
        }
    
    }
}


