.comment-form__landmark-label{
    font-weight: 900;
    font-family: @font;
    font-size: 11pt; 
    margin-left: 15px;
    vertical-align: 30px;
}

.comment-form__landmark-input[type="checkbox"]{ 
    -webkit-appearance: none;         
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: @input-bg-color; 
    border-radius: 10px;   
    outline: none;   
}   
    
.comment-form__landmark-input[type="checkbox"] + &-label{
    display:inline-block;        
}

.comment-form__landmark-input[type="checkbox"]:checked {
    -webkit-appearance: checkbox;
    vertical-align: 10px;
    border: 1px solid @input-bg-color; 
}        
                
@media(min-width:1224px){
    .comment-form__landmark{
        display: flex;
        order: 4;
        margin-bottom: 50px;
    }
    .land-flex{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .fieldset-land{
        width: 100%;
        margin: auto 165px;
    }
    .land-header{
        margin-bottom: 50px;
        line-height: 1.5;
    }
    .comment-form__landmark-label{
        vertical-align: 30px;
    }
}