.header__logo{
        width: 100%;     
}
.svg{
    text-align: right;
    margin-right: 20px;
    background-image: url(../img/icon-menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;   
}


@media (min-width: 1224px){
    .svg{
        display: none;
    }
}